<!DOCTYPE html>
<html>
  <head>
    <title>GoProApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body style="max-height: 100%;">
    <div class="container landing-bg">
    <%= render "layouts/header_landing" %>  
    <%= yield %>
    <!--%= render "layouts/footer" %-->
    
  </body>
</html>
